name: Python coverage
on:
    pull_request:
        branches:
            - main

permissions:
    pull-requests: write

jobs:
    pythin-coverage:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Code
              uses: actions/checkout@v4

            - name: Set up python
              uses: actions/setup-python@v4
              with:
                python-version: 3.13

            - name: Coverage comment
              uses: py-cov-action/python-coverage-comment-action@v3
              with:
                GITHUB_TOKEN: ${{ github.token }}
                MINIMUM_GREEN: 90
                MINIMUM_ORANGE: 70

            - name: Fail if below threshold
              run: coverage report --fail-under=90